/* ----------------------------------------------- */
/* HEX CODES                                       */
/* ----------------------------------------------- */

/*
GREY:              #333
LIGHT GREY:        #777
WHITE:             #fff
BLACK:             #000
SUCCESS GREEN:     #4abc42
ERROR RED:         #dd0808
OFF WHITE HOVER:   #ddd
*/


/* ----------------------------------------------- */
/* GENERAL / SITEWIDE SETUP                        */
/* ----------------------------------------------- */

/* Google Font Load */
@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,800');

html,
body {
    height: 100%
}

body {
    color: #777;
    width: 100%;
    height: 100%;
    font-size: 15px;
    line-height: 1.7;
    font-family: 'Raleway', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    color: #333;
    font-weight: 600;
}

h1, h2 {
    font-weight: 800;
}

h3 {
    font-size: 18px;
    margin-bottom: 15px;
}

p {
    letter-spacing: 0px;
}

a {
    text-decoration: none;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
}

a:hover {
    color: #fff;
    text-decoration: none;
}

a:focus {
    outline: none;
    text-decoration: none;
}

ul, li {
    margin: 0;
    padding: 0;
}

fieldset {
    border: 0 none;
    margin: 0 auto;
    padding: 0;
}

.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn.focus:active,
.btn:active:focus,
.btn:focus {
    outline: none;
}

.btn.focus, 
.btn:focus, 
.btn:hover {
    color: #fff;
}

.btn, input[type='submit'] {
    display: inline-block;
    padding: 10px 25px;
    border-radius: 0px;
    border: none;
    color: #fff;
    font-weight: 600;
    letter-spacing: 0.5px;
    background-color: #333;
    transition: 0.3s;
    -moz-transition: 0.3s;
    -webkit-transition: 0.3s;
}

.btn:hover, input[type="submit"]:hover {
    color: #fff;
    background: #777;
}

.btn.btn-reverse {
    background: #333;
}

.btn.btn-reverse:hover {
    color: #333;
    background-color: #fff;
}

.btn.btn-white {
    color: #333;
    background-color: #fff;
}

.btn.btn-white:hover {
    color: #fff;
    background: #333;
}


.btn.btn-lg {
    height: 50px;
    padding: 0 30px;
    font-size: 20px;
    font-weight: bold;
    line-height: 50px;
    border-radius: 5px;
}


.section-big {
    padding: 100px 0px;
    border-bottom: 1px solid #ddd;
}

.section-small {
    padding: 50px 0px;
}

.section-title {
    margin: auto;
    max-width: 800px;
    margin-bottom: 60px;
}

.section-title.white h2 {
    color: #fff;
}

.section-title h2 {
    font-size: 40px;
    margin-bottom: 25px;
    line-height: 25px;
    margin-top: 0;
    position: relative;
    display: inline-block;
}


/* ----------------------------------------------- */
/* PRELOADER                                       */
/* ----------------------------------------------- */

#preloader {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 99999;
    width: 100%;
    height: 100%;
    overflow: visible;
    background-image: url(../img/preloader.gif);
    background-position: center center;
    background-repeat: no-repeat;
    background-color: #fff;
}

.table {
    display: table;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
    margin: 0;
}
.table-cell {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

img {
    max-width: 100%;
}

.space {
    height: 80px;
}



/* ----------------------------------------------- */
/* NAVBAR / NAVIGATION SETUP                       */
/* ----------------------------------------------- */

.menu-area {
    height: 70px;
}

.menu-area.sticky-menu {
    height: 50px;
    background: #fff;
}

.sticky-menu {
    box-shadow: 0px 3px 4.7px 0.3px rgba(0, 0, 0, 0.24);
    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
}

.mainmenu {
    margin-top: 10px;
    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
}

.sticky-menu .mainmenu {
    margin-top: 0px;
}

.navbar {
    margin-bottom: 0;
    border: 0px;
}

.navbar-brand {
    display: block;
    color: #fff;
    text-transform: uppercase;
    font-size: 20px;
    padding: 15px 0;
}

/* Top left name in the nav bar */
.navbar-brand span {
    color: #fff;
    font-weight: 800;
    transition: 0.3s;
    -moz-transition: 0.3s;
    -webkit-transition: 0.3s;

}
.navbar-brand:hover {
    color: #fff;
}

.sticky-menu .navbar-brand ,
.sticky-menu .navbar-brand span {
    color: #333;
}

.navbar-nav  li {
    float: none;
    display: inline-block;
}

/* Items in nav bar list */
.navbar-nav li a {
    font-size: 15px;
    letter-spacing: 0px;
    color: #fff;
}

/* Make active section bold in nav bar */
.navbar-nav li.active a {
    font-weight: 700;
}

/* Select all a that are descendants of li that are
   descendants of .nav */
.nav > li > a:hover,
.nav > li > a:active,
.nav > li > a:focus {
    background: none;
}

.sticky-menu .navbar-nav li a {
    color: #777;
}

.sticky-menu .navbar-nav li.active a {
    color: #000;
}


/* Hamburger Menu on navbar when page is minimized */
.navbar-toggle .icon-bar {
    background: #777;
}


/* ----------------------------------------------- */
/* SLIDER SETUP                                    */
/* ----------------------------------------------- */

/* Splash page background */
.slider-area {
    background-image: url(../img/slide1.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
}

.slider-area:before {
    position: absolute;
    content: '';
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
}

.slider-area ,
.slider-area .carousel,
.slider-area .carousel-inner,
.slider-area .item {
    height: 100%;
}

/* Text for typed.js */
.intro-text {
    color: #fff;
    text-shadow: rgba(0, 0, 0, 0.6) 2px 2px 3px;
}

/* Text for typed.js words */
.typed-cursor,
.typejs {
    display: inline;
    font-weight: 600;
    font-size: 50px;
}

.typed-cursor {
    font-weight: 300;
}

/* Text for splash page above typed.js */
.intro-text h2 {
    font-size: 50px;
    color: inherit;
    font-weight: 600;
}

/* Double chevron on splash */
.intro-text .icon-btn {
    margin-top: 30px;
    font-size: 25px;
    color: #fff;
    position: relative;
    display: inline-block;
}

/* Double chevron movement */
.intro-text .icon-btn i.fa {
    position: absolute;
    margin: 250px 0px 0px 0px;
    left: -20px;
    animation: MoveUpDown 1s linear infinite;
    font-size: 40px;
}

/* Double chevron on splash page, space in which to move */
@keyframes MoveUpDown {
  0% {
    top: 0;
  }
  50% {
    top: 10px;
  }
  100% {
    top: 0;
  }
}

@media(max-width: 991px) {
    .intro-text {
        margin: 80px auto;
        text-align: center;
    }
}


#carousel-example-generic .animated {
    animation-delay: .5s;
}

.carousel-indicators {
    bottom: 90px;
}




/* ----------------------------------------------- */
/* ABOUT ME SETUP                                  */
/* ----------------------------------------------- */

section {
    position: relative;
    z-index: 10;
}

.me-image {
    margin: 10px 50px 50px 50px;
}

.img-side {
    padding: 0;
    position: absolute!important;
    top: 0px;
    height: 100%;
    overflow: hidden;
    z-index: 100;
}

.img-side.fixed-image {
    position: fixed!important;
}

.img-side.img-right {
    right: 0;
}

.img-side.img-left {
    left: 0;
}

.img-side.img-center {
    left: 0;
    right: 0;
    margin: auto;
}

.img-holder {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}

.img-cover {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

@media only screen and (max-width: 767px) {
    .img-side {
        min-height: 400px;
        position: relative !important;
        z-index: 0;
        margin-top: -50px;
    }

    .img-side .img-holder .title {
        padding-left: 15px;
        padding-right: 15px;
    }

    section.p-0 .img-side,
    section.pt-0 .img-side {
        margin-top: 0;
    }
}

.about-text {
    background: #fff;
    z-index: 100;
    position: relative;
    padding: 20px;
    border: 1px solid #777;
    box-shadow: 0 0 0 20px #fff;
    margin: 20px;
    transform: translate(-12%);
}

.about-text h2 {
    margin-top: 5px;
}


.about-text-2 {
    padding-left: 15px;
}

.about-text-2 h2 {
    margin-top: 0px;
}

.about-area .btn {
    margin-top: 20px;
}

.about-me h3 span {
    font-weight: 400;
}

.about-me h4 {
    font-weight: 300;
}



/* ----------------------------------------------- */
/* SKILLS (img) SETUP                              */
/* ----------------------------------------------- */

.skills-logo-img {
    margin: 1rem 0.5rem;
    height: 100px;
}

.skills-logo-row {
    text-align: center;
    padding: 5rem 0;
    font-size: 3rem;
}



/* ----------------------------------------------- */
/* PROJECTS SETUP                                  */
/* ----------------------------------------------- */
.project-items .project img{
    width: 100%;
    transition: 0.8s ease-out;
}

.project .title {
    color: #fff;
    background: #777;
    padding: 10px;
    text-align: center;
}

.project .project-text-area {
    padding-top: 20px;
    font-size: 14px;
}
.project .project-text-area li {
    margin-left: 30px
}



.myprojects span.fa {
    font-size: 30px;
    color: #777;
    display: block;
    text-align: center;
}




/* ----------------------------------------------- */
/* CONTACT ME SETUP                                */
/* ----------------------------------------------- */

.contact-area .container {
    max-width: 700px;
}

.contact-form {}

.form-control {
    display: block;
    border: 0px;
    width: 100%;
    height: 45px;
    padding: 5px 0px;
    color: #333;
    box-shadow: none;
    margin: 5px 0;
}

.form-control:focus {
    border-color: #333;
    outline: 0;
    box-shadow: none;
}

.contact-form .form-group {
    position: relative;
    padding-left: 35px;
    border-bottom: 1px solid #ddd;
    margin: 0;
    margin-bottom: 20px;
}

.contact-form .form-group:before {
    position: absolute;
    height: 50px;
    font-family: FontAwesome;
    top: 0;
    left: 0;
    width: 20px;
    text-align: center;
    line-height: 45px;
    color: #333;
}

.in_name:before {content: '\f007';}
.in_email:before {content: '\f1d8';}
.in_message:before {content: '\f0e0';}

.contact-form textarea#message {
    padding-top: 10px;
    height: 99px;
}

.contact-form .actions {
    text-align: center;
}

#submitButton {
    margin-top: 30px;
}

.contact-info {
    margin-bottom: 30px;
}

.g-recaptcha {
    margin: 0 auto;
    width: 304px;
}

.alert--loading {
    margin: 0 auto;
    width: 304px;
}

.alert--success{
    color: #4abc42;
    margin: 0 auto;
    width: 390px;
}

.alert--error{
    color: #dd0808;
    margin: 0 auto;
    width: 400px;
}






/* ----------------------------------------------- */
/* FOOTER SETUP                                    */
/* ----------------------------------------------- */

.footer-area {
    background: #333;
    text-align: center;
    color: #fff;
    padding-top: 50px;
}

.footer-area p.copyright {
    margin: 0;
    line-height: 100px;
}

.social-ul {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
}

.social-ul li {
    display: inline-block;
    float: none;
}

.social-ul li span {
    font-size: 25px;
    margin: 0 10px;
    color: #fff;
    border-radius: 10px;
}

.social-ul li a span:hover {
    background-color: #fff;
    color: #777;
}

.social-ul li span fa {
    font-size: 100px;
}